/.settings/*

/html-template/*
/bin-debug/*
/launch/*
/docs/*
/bin/*
/libs/*
obj/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.as3_classpath

*.iml
*.ipr
*.iws